<main>
  <section id="section-banner">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/jogo01.jpg" class="d-block w-100" alt="Promoção de jogos">
        </div>
        <div class="carousel-item">
          <img src="assets/img/jogo02.jpg" class="d-block w-100" alt="Jogo do ano">
        </div>
        <div class="carousel-item">
          <img src="assets/img/jogo03.jpg" class="d-block w-100" alt="Jogo do mês">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</main>

<h2>Imperdíveis - Jogos em Promoção</h2>

<div class="row">
  <div class="col-6 col-md-4">
    <mat-card class="example-card">
      <img mat-card-image src="assets/img/jogo01.jpg" alt="Jogo 01">
      
      <mat-card-header>
        <mat-card-title>A Saga dos Reinos Perdidos:</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <p>
          Embarque em uma jornada épica por terras desconhecidas e muita aventuras.
          

        </p>
      </mat-card-content>
      <mat-card-actions>
        <p>R$ 550,00</p>
        <button mat-button>Comprar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-6 col-md-4">
    <mat-card class="example-card">
      <img mat-card-image src="assets/img/jogo02.jpg" alt="Jogo 02">
      <mat-card-header>
        <mat-card-title>Velocidade Extrema: Rali Mundial</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
         Sinta a adrenalina pulsar em suas veias com "Velocidade Extrema: Rali Mundial".
         
        </p>
      </mat-card-content>
      <mat-card-actions>
        <p>R$ 450,00</p>
        <button mat-button>Comprar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-6 col-md-4">
    <mat-card class="example-card">
      <img mat-card-image src="assets/img/jogo03.jpg" alt="Jogo 03">
      <mat-card-header>

        <mat-card-title>Invasão Z: Sobrevivência Urbana</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <p>
          Prepare-se para enfrentar o apocalipse zumbi em "Invasão Z: Sobrevivência Urbana".

        </p>
      </mat-card-content>
      <mat-card-actions>
        <p>R$ 350,00</p>
        <button mat-button>Comprar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>